
#intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    animation: fadeIn 2s ease-out forwards;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(ImagendeFondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center bottom; 
}

header {
    width: 100%;
    height: auto;
    position: relative;
}

header img.header-image {
    width: 100%;
    height: auto;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

main {
    text-align: center;
    padding: 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 40px;
    color: white;
}

#products {
    margin-bottom: 40px;
    color: white;
}

.filters {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los elementos */
    justify-content: center;
}

.gallery-item {
    flex: 1 1 calc(25% - 20px); /* Ajuste para 4 elementos por fila */
    box-sizing: border-box;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.gallery-item p {
    margin: 10px 0 0;
    color: rgb(255, 255, 255);
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gallery-item button:hover {
    background-color: #45a049;
}

#contact {
    margin-bottom: 40px;
    color: white;
    text-align: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: #000000;
}

#contact-form label {
    font-weight: bold;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact-form button {
    padding: 10px 20px;
    background-color: #0086f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #000b60;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
}

/* Carrito Styles */
.cart {
    display: none;
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: rgb(82, 81, 81);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.cart-content {
    padding: 20px;
}

.cart .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cart .close:hover,
.cart .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cart-items {
    margin-bottom: 20px;
}

#cart-total {
    font-weight: bold;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    color: white;
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 30%;
    padding: 10px 0;
}
